@import url('https://fonts.googleapis.com/css?family=Roboto');

  body {
/*background-color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 4000;*/
    }

  .quote-box {
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin: 20% auto 20% auto;
    padding: 10px;
    width: 600px;
    height: auto;
    font-family: Roboto;
    font-weight: 600;
    display: table;
    -webkit-transition: 1s
    }

    #quote-container {

      width: 200px
      height: 150px;
    }

  #quote-text { 
    font-size: 25px;
    /*padding: 10% auto 10% auto;*/
    margin: 10% 9% 2% 5%;
    size: contain;
    }

    #author-text {
    font-size: 20px;
    margin: auto;
    /*float: left;*/
    text-align: center
    }

  .buttons { 
    width: 390px;
    height: 70px;
    display: block;
    margin: 1% auto 3% auto;
    }

  .button {
    margin: 20px 0% 10% 300px ;
    text-align: right;
    cursor: pointer;
    color: #fff;
    font-family: times;
    }

    .tweet-button {
      margin: 20px -60px 20px 0px;   
    text-align: center;
    cursor: pointer;
    color: white;
    }


  #quote-button{
    font-color: #fff;
    color: white;  
    }

  #background-img {
    width: 610px;
    max-height: 400px;
    height: auto;
    margin: 0 auto 2% auto;
    opacity: .8;
  }















  
